/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Default styles */
a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

th, td {
    padding: 15px;
}

.flex-column {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start !important;
    margin: 20px 0px;
}

.content {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 140px;
    height: 66px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px;
    cursor: pointer;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #333;
}