@import url("./default.css");

/* Start styles */
.buttons-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.buttons-area a,
.grid-area a,
.buttons-grid a {
    display: inline-flex;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 288px;
    height: 155px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Grid-area [Tela de cadastro] */
.grid-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

/* Departments css */
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

/* Styles list */
.table {
    margin-top: 20px;
    width: 1200px;
    border-collapse: collapse;
    border: 0.5px solid #ccc;
}

.table thead {
    text-align: left;
    padding: 10px;
    background-color: #fff;
}

.table thead tr,
.table tbody tr {
    height: 36px;
    text-transform: uppercase;
}

.table tbody tr {
    border-bottom: 0.5px solid #ccc;
    background-color: #eee;
}

/* Include area */
.include {
    margin-top: 20px;
    width: 1200px;
}

.form-group {
    display: flex;
    gap: 10px;
}

.form-group .col-2 {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.form-group .col-10 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    text-transform: uppercase;
    font-weight: 500;
    color: #222;
    font-size: 18px;
}

.form-group input[type="number"] {
    padding: 10px;
    height: 40px;
    outline: none;
    margin-top: 10px;
    font-size: 18px;
}

.form-group input[type="text"] {
    height: 40px;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

/* Delete */
.delete tbody td {
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}